*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  align-items: end;
  gap: 30px;
}


.result__video-container {
  position: relative;
  width: 718px;
  height: 390px;
  margin-bottom: 20px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
  width: 100%;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: contain;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  
}

.content__accent {
  color: gray;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item{
  padding-left: 3px;
  padding-right: 3px;
}


.content__video-card-title {
  font-family: Oswald;
  font-weight: 700; 
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 1;
  letter-spacing: 0%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__fieldset {
  border:0;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  align-items: center;
  width: fit-content;
  display: flex;
  flex-direction: row;
  
}


.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  width: 225px;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none; 
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff; 
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label{
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}   

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  min-height: 34px;

}

.more-button {
  width: 100%;
  min-height: 34px;
}

